*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
body
{
	width: 100%;
 	height: 100vh;
	    background: linear-gradient(to bottom, #33ccff 0%, #00ff99 100%);
}
.todo
{
	background: #fff;
  max-width: 450px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 20px 100px 100px rgba(0.1,0.5,0.4,0.1);
  border-radius: 20px;
}
h1
{
	text-align: center;
	color: green;
}
#input
{
	border: 1px solid #ccc;
	display: block;
	width: 80%;
	height: 50px;
	padding: 10px 0px;
	outline: none;
	border-radius:5px;
	/*margin:20px auto;*/
	margin-top: 20px;
}
#input:focus{
  border-color: green;
}
#addBox
{
	position: relative;
}
.fas
{
	color: green;
}
#addBtn
{
	//background: green;
	//color: green;
	border:1px solid green;
	padding: 10px 12px;
	position: absolute;
	height: 50px;
	top: 37px;
	right:-5px;
	font-size:14px;
	width: 80px;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
	color: white;
	opacity: 0.7;
	margin:20px auto;
}
ul#list
{
	margin: 0;
	padding-top: 15px;
	list-style: none;
	line-height: 30px;
}
ul li
{
	background: #f2f2f2;
	padding: 15px 20px;
	margin-bottom: 4px;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	position: relative;
}
ul li .remove
{
	position: absolute;
	right: 13px;
	background: #eb9c9c;
	color:white;
	border-radius:5px;
	padding: 5px 10px;
	font-size: 14px;
	top:13px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	user-select: none;
	border:none;
	outline: none;

}
.edit
{
	position: absolute;
	right: 13px;
	background: #eb9c9c;
	color:white;
	border-radius:5px;
	padding: 5px 10px;
	font-size: 14px;
	top:13px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	user-select: none;
	border:none;
	outline: none;
}
ul li:hover > .remove
{
	background: gold;
	opacity: 1;
	right: 20px;
}